<div class="user_info row">
    <div class="col-md-2">
        <img class="profile-icon" src="http://opgg-static.akamaized.net/images/profile_icons/profileIcon{{info.icon}}.jpg">
    </div>
    <div class="col-md-2">
        <h2>{{info.name}}</h2>
    </div>
    <div class="col-md-8">
        {{#each info.leagues}}
            <div class="row">
                <div class="col-md-2">
                    <img class="tier-img" src="http://opgg-static.akamaized.net/images/medals/{{this.tier}}_1.png">
                </div>
                <div class="col-md-5">
                    <p>{{this.queueType}}</p>
                    <p>{{this.leagueName}}</p>
                    <p>{{this.leaguePoints}} points</p>
                </div>
                <div class="col-md-5">
                    <p>{{this.wins}} wins</p>
                    <p>{{this.losses}} losses</p>
                </div>
            </div>
        {{/each}}
    </div>
</div>