<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{info.name}} - Summoner Stats</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body id="search">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">TONY.GG</a>
        </div>
    </div>
</nav>

<div class="container">
    {{> header}}
    <hr>
    <div class="row">
        {{#each info.matches}}
            <div class="row">
                {{this.gameType}}
                {{this.result}}
                {{this.Champion}}
                {{this.spell1_name}}
                {{this.spell2_name}}
            </div>
        {{/each}}
    </div>
</div>

</body>
</html>