<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TONY.GG</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body id="home">
    <div class="container">
        <form action="/search" method="get">
            <input type="text" id="summoner" name="summoner"><br>
            <button type="submit" id="submit">Submit</button>
        </form>
    </div>
</body>
</html>