#home{
    margin: 0;
    min-height: 100vh;
    background: url("../img/homeBG.jpg") center no-repeat;
    background-size: cover;
    text-align: center;
}

#summoner{
    width: 40%;
    margin-top: 20%;
    height: 3rem;
    font-size: 1.7rem;
    padding: 0 1rem;
    border-radius: 10px;
}

#submit{
    width: 15%;
    height: 2.5rem;
    margin-top: 3rem;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.2rem;
}

.user_info{
    margin-top: 80px;
}

.user_info .profile-icon{
    border-radius: 10%;
    width: 80%;
}

.user_info .tier-img{
    width: 100%;
}